$color_1: #e9021e;

$color_primary_1: #ed1b24;

$color_grey_1: rgba(248, 248, 248, 1);
$color_grey_4: #f7f7f7;

$color_b1: #0b0b0b;
$color_b2: #121212;
$color_b3: #222222;

$color_text_grey: rgba(33, 37, 41, 0.75);
$color_text_grey2: #cecece;